# .gitignore
# Trailing / is ignored but limits match to dirs

**/exclude/
*.exclude
**/bower_components/
**/node_modules/
src/frameworks/
dist/

**/logs/
*.log

*.lock
**/pid[s]/
*.pid
**/cache
*.cache
**/temp
*.temp
**/tmp
*.tmp
.directory

# *.orig
*.bak
*.bkup

.sublime-gulp.cache
.sass-cache
.grunt
*.swp

.metadata
.project
.buildlog
.tgitconfig
.vagrant/

#Vim
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~

#Intellij
.idea/
*.ipr
*.iws

#DreamWeaver
_notes
dwsync.xml

#Kdevelop4
.kdev4/
*.kdev4

#Sublime
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
sftp-config.json
# *.sublime-project

#Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.lnk

#Apple
.DS_Store

#Android
*.apk
*.ap_
*.dex
*.class
bin/
gen/
.gradle
build/
/*/build/
local.properties
proguard/

#Archives
*.7z
*.jar
*.rar
*.zip
*.gz
*.bzip
*.bz2
*.xz
*.lzma
*.cab
*.iso
*.tar
*.tar.*
*.dmg
*.xpi
*.gem
*.egg
*.deb
*.rpm
*.msi
*.msm
*.msp
*.tgz

#Python
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
# Distribution / packaging
.Python
develop-eggs/
eggs/
.eggs/
*.egg-info/
*.egg
# Installer logs
pip-log.txt
pip-delete-this-directory.txt
#Ipython Notebook
.ipynb_checkpoints/

#Ruby
*.gem
*.rbc
.repl_history
.rvmrc

#C++
# Compiled Object files
*.slo
*.lo
*.o
*.obj
# Precompiled Headers
*.gch
*.pch
# Compiled Dynamic libraries
*.so
*.dylib
*.dll
# Fortran module files
*.mod
# Compiled Static libraries
*.lai
*.la
*.a
*.lib
# Executables
*.exe
*.out
*.app

#C
*.ko
*.elf
*.i*86
*.x86_64
*.hex
*.dSYM/

#QT
# Qt-es
.qmake.cache
.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
qrc_*.cpp
ui_*.h
Makefile*
*-build-*
# QtCreator
*.autosave
#QtCtreator Qml
*.qmlproject.user
*.qmlproject.user.*

